{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Your Todos</h2>
    <a href="{% url 'todo_create' %}" class="btn btn-custom">+ Add Todo</a>
</div>

{% if todos %}
<div class="card p-3">
    <table class="table table-bordered align-middle">
        <thead class="table-light" >
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Deadline</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th style="width: 180px;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
            <tr>
                <td>{{ todo.title }}</td>
                <td>{{ todo.status }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.priority }}</td>
                <td>
                    {% if todo.deadline %}
                        {{ todo.deadline }}
                    {% else %}
                        <span class="text-muted">No Date</span>
                    {% endif %}
                </td>
                <td>{{ todo.created_at }}</td>
                <td>{{ todo.updated_at }}</td>

                <td>
                    <a href="{% url 'todo_update' todo.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'todo_delete' todo.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<p>No todos available. Add one!</p>
{% endif %}

{% endblock %}
